/build/
build/
**/build/
**/development.properties
**/production.properties
**/..env**

.gradle
.idea/
**/.gradle
**/.idea

src/main/resources/application-**

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
